<div>
  <div class="row">
    <div class="col-md-12">
      <!-- <h3 class="text-center text-capitalizes">Data</h3> -->
      <table class="table table-dark table-hover table-striped mr-3">
        <thead class="thead-light">
          <th>Date</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Volume</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas;let i = index">
            <td>
              {{data.Date | date :'mediumDate'}}
            </td>
            <td>
              {{data.Open}}
            </td>
            <td>
              {{data.High}}
            </td>
            <td>
              {{data.Low}}
            </td>
            <td>
              {{data.Close}}
            </td>
            <td>{{data.Volume}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>