<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-brand mb-0 h1 text-white">Task</div>
</nav>
<div class="container">
    <!-- here i am creating two different components one for tableview and another one for card View
    we can reuse the component at any places in the app -->
  <section id="reports">
    <button class="btn btn-success pull-right" (click)="changeView()">Switch To
      {{ currentView === 'Table' ? 'Card View' : 'Table View'}}</button>
    <div *ngIf="currentView === 'Table' else card" class="main">
      <!-- Here i just pass the tableData(parent component) to child component (cardview component) -->
      <app-tableview [datas]="tableData"></app-tableview>
    </div>
    <ng-template #card>
      <div class="main">
        <!-- Here i just pass the tableData(parent component) to child component (cardview component) -->
        <app-cardview [datas]="tableData"></app-cardview>
      </div>
    </ng-template>
  </section>
</div>
<router-outlet></router-outlet>