<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let data of datas">
      <div class="card" style="padding: 0px;background-color: #454d55;
        color: white;
        border-radius: 34px;margin-bottom: 18px;width: 106%;">
        <div class="card-body" style="padding: 14px;">
          <!-- here i am using Angular inbuild date pipe for formatting the date to mediumDate -->
          <h5 class="card-title">{{data.Date | date :'mediumDate'}}</h5>
          <p class="card-text"> Open:-{{data.Open}}</p>
          <div class="row">
            <div class="col-md-6">
              <p class="card-text"> High:-{{data.High	}}</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">Low :- {{data.Low}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="card-text">Close:-{{data.Close	}}</p>
            </div>
            <div class="col-md-6">
              <p class="card-text">Volume:-{{data.Volume	}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>